In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from numpy.linalg import svd, matrix_rank
from pandas import DataFrame as DF

In [2]:
df_P = pd.read_clipboard()
df_P

          1986  1992      1998      2004      2011      2017
公園         0.0   0.0  0.000000  0.000151  0.000000  0.000000
皇族         0.0   0.0  0.000151  0.000000  0.000000  0.000000
中古住宅市場     0.0   0.0  0.000000  0.000000  0.000000  0.000151
岩見沢市       0.0   0.0  0.000000  0.000000  0.000000  0.000151
経験         0.0   0.0  0.000000  0.000000  0.000151  0.000000
...        ...   ...       ...       ...       ...       ...
上田市        0.0   0.0  0.000000  0.000000  0.000151  0.000000
復興都市計画     0.0   0.0  0.000151  0.000000  0.000000  0.000000
複数         0.0   0.0  0.000000  0.000000  0.000000  0.000151
都市づくり      0.0   0.0  0.000000  0.000000  0.000151  0.000151
地方行政システム   0.0   0.0  0.000000  0.000151  0.000000  0.000000

[3280 rows x 6 columns]

In [3]:
df_data = pd.read_clipboard()
df_data

              1986      1992      1998      2004      2011      2017         r
公園        0.000000  0.000000  0.000000  0.000151  0.000000  0.000000  0.000151
皇族        0.000000  0.000000  0.000151  0.000000  0.000000  0.000000  0.000151
中古住宅市場    0.000000  0.000000  0.000000  0.000000  0.000000  0.000151  0.000151
岩見沢市      0.000000  0.000000  0.000000  0.000000  0.000000  0.000151  0.000151
経験        0.000000  0.000000  0.000000  0.000000  0.000151  0.000000  0.000151
...            ...       ...       ...       ...       ...       ...       ...
復興都市計画    0.000000  0.000000  0.000151  0.000000  0.000000  0.000000  0.000151
複数        0.000000  0.000000  0.000000  0.000000  0.000000  0.000151  0.000151
都市づくり     0.000000  0.000000  0.000000  0.000000  0.000151  0.000151  0.000302
地方行政システム  0.000000  0.000000  0.000000  0.000151  0.000000  0.000000  0.000151
c         0.080713  0.131197  0.165357  0.203446  0.206469  0.212817  1.000000

[3281 rows x 7 columns]

In [4]:
P = df_P.values
P

array([[0.        , 0.        , 0.        , 0.00015115, 0.        ,
        0.        ],
       [0.        , 0.        , 0.00015115, 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.00015115],
       ...,
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.00015115],
       [0.        , 0.        , 0.        , 0.        , 0.00015115,
        0.00015115],
       [0.        , 0.        , 0.        , 0.00015115, 0.        ,
        0.        ]])

In [5]:
r = df_data.loc[:"地方行政システム","r"].values
c = df_data.loc["c",:"2017"].values

Dr = np.diag(1/np.sqrt(r))
Dc = np.diag(1/np.sqrt(c))
"""
Dr = np.diag(r)
Dc = np.diag(c)
"""
print(Dr)
print(Dc)

r =np.array([r]).T
c =np.array([c])

[[81.33872508  0.          0.         ...  0.          0.
   0.        ]
 [ 0.         81.33872508  0.         ...  0.          0.
   0.        ]
 [ 0.          0.         81.33872508 ...  0.          0.
   0.        ]
 ...
 [ 0.          0.          0.         ... 81.33872508  0.
   0.        ]
 [ 0.          0.          0.         ...  0.         57.5152592
   0.        ]
 [ 0.          0.          0.         ...  0.          0.
  81.33872508]]
[[3.51987402 0.         0.         0.         0.         0.        ]
 [0.         2.76081869 0.         0.         0.         0.        ]
 [0.         0.         2.45917303 0.         0.         0.        ]
 [0.         0.         0.         2.21704863 0.         0.        ]
 [0.         0.         0.         0.         2.20075855 0.        ]
 [0.         0.         0.         0.         0.         2.16768624]]

In [36]:
S = ((1/np.sqrt(Dr)).dot(P-r.dot(c))).dot(1/np.sqrt(Dc))

<ipython-input-36-90810beb343d>:1: RuntimeWarning: divide by zero encountered in true_divide
  S = ((1/np.sqrt(Dr)).dot(P-r.dot(c))).dot(1/np.sqrt(Dc))

In [6]:
S = Dr.dot(P-r.dot(c)).dot(Dc)

In [7]:
S

array([[-0.00349281, -0.00445312, -0.00499935,  0.02171166, -0.00558638,
        -0.00567161],
       [-0.00349281, -0.00445312,  0.02523438, -0.00554533, -0.00558638,
        -0.00567161],
       [-0.00349281, -0.00445312, -0.00499935, -0.00554533, -0.00558638,
         0.02097851],
       ...,
       [-0.00349281, -0.00445312, -0.00499935, -0.00554533, -0.00558638,
         0.02097851],
       [-0.00493958, -0.00629766, -0.00707014, -0.00784227,  0.0112317 ,
         0.01082366],
       [-0.00349281, -0.00445312, -0.00499935,  0.02171166, -0.00558638,
        -0.00567161]])

In [8]:
print('matrix S\n', S)
print('rank: ', matrix_rank(S))

matrix S
 [[-0.00349281 -0.00445312 -0.00499935  0.02171166 -0.00558638 -0.00567161]
 [-0.00349281 -0.00445312  0.02523438 -0.00554533 -0.00558638 -0.00567161]
 [-0.00349281 -0.00445312 -0.00499935 -0.00554533 -0.00558638  0.02097851]
 ...
 [-0.00349281 -0.00445312 -0.00499935 -0.00554533 -0.00558638  0.02097851]
 [-0.00493958 -0.00629766 -0.00707014 -0.00784227  0.0112317   0.01082366]
 [-0.00349281 -0.00445312 -0.00499935  0.02171166 -0.00558638 -0.00567161]]
rank:  6

In [9]:
S.shape

(3280, 6)

In [10]:
# singular value decomposition
u, s, vh = svd(S)
print('\nSVD result')
print('shape of u, s, vh:', u.shape, s.shape, vh.shape)
print('singular values:', s.round(2))

SVD result
shape of u, s, vh: (3280, 3280) (6,) (6, 6)
singular values: [0.75 0.73 0.71 0.7  0.7  0.  ]

In [11]:
# full_matrices=Falseの場合
u, s, vh = svd(S, full_matrices=False)
print('\nSVD result　(full_matrices: False)')
print('shape of u, s, vh:', u.shape, s.shape, vh.shape)

SVD result　(full_matrices: False)
shape of u, s, vh: (3280, 6) (6,) (6, 6)

In [14]:
u

array([[-4.54707426e-03,  3.67883940e-03, -1.52445072e-02,
        -2.17920063e-02,  2.12662495e-02,  1.02443745e-04],
       [ 1.53912673e-03,  1.04931633e-02, -3.57168116e-03,
         3.40005144e-02,  1.61713908e-02, -2.68107747e-04],
       [-1.03085344e-02, -2.46501405e-02,  1.83513463e-02,
         7.93354670e-04,  2.08360486e-03, -2.33915272e-06],
       ...,
       [-1.03085344e-02, -2.46501405e-02,  1.83513463e-02,
         7.93354670e-04,  2.08360486e-03, -2.33933880e-06],
       [-1.21499345e-02, -1.80926767e-02, -4.04129224e-04,
         2.38434391e-03, -1.79263242e-02, -6.75539376e-02],
       [-4.54707426e-03,  3.67883940e-03, -1.52445072e-02,
        -2.17920063e-02,  2.12662495e-02,  1.02443469e-04]])

In [15]:
vh

array([[ 0.92863692, -0.00690324,  0.03818126, -0.12511853, -0.19054801,
        -0.29011175],
       [-0.20909378,  0.65004202,  0.25413946,  0.09883036, -0.02535098,
        -0.67729476],
       [ 0.00516247,  0.58709244, -0.08419652, -0.39861056, -0.49845418,
         0.49077471],
       [-0.08937887, -0.22738109,  0.78826579, -0.56040021,  0.06680204,
         0.02086638],
       [-0.07200433, -0.22320607,  0.3743616 ,  0.54607047, -0.70969042,
         0.05472074],
       [-0.28410106, -0.36221136, -0.40664077, -0.45105009, -0.45438882,
        -0.46132138]])

In [16]:
s

array([7.50010705e-01, 7.32246628e-01, 7.12710708e-01, 7.00936895e-01,
       6.99899430e-01, 8.62441764e-07])

In [18]:
eig_val, eig_vec =np.linalg.eig(vh) # 固有値・固有ベクトルをそれぞれeig_val, eig_vecに格納する
for i in range(len(eig_vec)):
    eig_vec [i] = eig_vec[i]/np.linalg.norm(eig_vec[i])

#計算結果の出力
eig_val

array([ 0.99507491+0.09912577j,  0.99507491-0.09912577j,
       -0.12973123+0.9915492j , -0.12973123-0.9915492j ,
       -0.98380848+0.17922298j, -0.98380848-0.17922298j])

In [19]:
eig_vec

array([[ 0.69452766+0.j        ,  0.69452766-0.j        ,
         0.04348341+0.00813025j,  0.04348341-0.00813025j,
         0.06135419+0.10913334j,  0.06135419-0.10913334j],
       [-0.03532113+0.62640496j, -0.03532113-0.62640496j,
        -0.17015183+0.12454947j, -0.17015183-0.12454947j,
         0.09457801+0.23013045j,  0.09457801-0.23013045j],
       [-0.00899798+0.24239752j, -0.00899798-0.24239752j,
         0.62476528+0.j        ,  0.62476528-0.j        ,
         0.05007983-0.21982455j,  0.05007983+0.21982455j],
       [-0.0408262 +0.02993892j, -0.0408262 -0.02993892j,
         0.15428448-0.46704635j,  0.15428448+0.46704635j,
        -0.30384088+0.40395744j, -0.30384088-0.40395744j],
       [-0.0447428 -0.02358311j, -0.0447428 +0.02358311j,
        -0.03843264-0.39124423j, -0.03843264+0.39124423j,
         0.58557049+0.j        ,  0.58557049-0.j        ],
       [-0.11240146-0.21773324j, -0.11240146+0.21773324j,
         0.23139819+0.33647733j,  0.23139819-0.33647733j,
         0.22264454+0.47289052j,  0.22264454-0.47289052j]])

In [20]:
a = np.array(eig_vec, dtype=float)
a

<ipython-input-20-63609f406143>:1: ComplexWarning: Casting complex values to real discards the imaginary part
  a = np.array(eig_vec, dtype=float)

array([[ 0.69452766,  0.69452766,  0.04348341,  0.04348341,  0.06135419,
         0.06135419],
       [-0.03532113, -0.03532113, -0.17015183, -0.17015183,  0.09457801,
         0.09457801],
       [-0.00899798, -0.00899798,  0.62476528,  0.62476528,  0.05007983,
         0.05007983],
       [-0.0408262 , -0.0408262 ,  0.15428448,  0.15428448, -0.30384088,
        -0.30384088],
       [-0.0447428 , -0.0447428 , -0.03843264, -0.03843264,  0.58557049,
         0.58557049],
       [-0.11240146, -0.11240146,  0.23139819,  0.23139819,  0.22264454,
         0.22264454]])

In [21]:
a = DF(a)
a

          0         1         2         3         4         5
0  0.694528  0.694528  0.043483  0.043483  0.061354  0.061354
1 -0.035321 -0.035321 -0.170152 -0.170152  0.094578  0.094578
2 -0.008998 -0.008998  0.624765  0.624765  0.050080  0.050080
3 -0.040826 -0.040826  0.154284  0.154284 -0.303841 -0.303841
4 -0.044743 -0.044743 -0.038433 -0.038433  0.585570  0.585570
5 -0.112401 -0.112401  0.231398  0.231398  0.222645  0.222645

In [89]:
a = round(eig_vec, 4)
a

TypeError: type numpy.ndarray doesn't define __round__ method

In [95]:
np.set_printoptions(suppress=True)
np.set_printoptions(precision=4, floatmode='maxprec')

In [22]:
# 復元
# A_re = (u @ np.diag(s, -1)[1:] @ vh).round(2)
S_re = (u @ np.diag(s) @ vh).round(2)
print('\nreconstructed S:\n', S_re)

reconstructed S:
 [[-0.   -0.   -0.    0.02 -0.01 -0.01]
 [-0.   -0.    0.03 -0.01 -0.01 -0.01]
 [-0.   -0.   -0.   -0.01 -0.01  0.02]
 ...
 [-0.   -0.   -0.   -0.01 -0.01  0.02]
 [-0.   -0.01 -0.01 -0.01  0.01  0.01]
 [-0.   -0.   -0.    0.02 -0.01 -0.01]]